{% extends 'clinic/base.html' %} 

{% block content %} 

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Appointments</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Appointment Date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in appointments %}
                  <tr>
                    <td>{{i.patient.first_name | title }} {{i.patient.last_name | title }}</td>
                    <td>{{i.date}}</td>
                    <td>
                      {% if i.status == 'Pending' %}
                      <label class="badge badge-danger">Pending</label>
                      {% elif i.status == 'Completed' %}
                      <label class="badge badge-success">Completed</label>
                      {% else %}
                      <label class="badge badge-warning">In progress</label>
                      {% endif %}
                    </td>
                      <td class="text-danger"> 
                        <a class="btn btn-success btn-lg text-white mb-0 me-0" type="button" href="{% url 'viewappointment' i.id %}"><i class="mdi mdi-briefcase-check">
                          </i>View
                        </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>



{% endblock %}