{% extends 'clinic/base.html' %} 

{% block content %} 
<div class="row">
    <div class="col-sm-12">
      <div class="statistics-details d-flex align-items-center justify-content-between">
        <div>
          <p class="statistics-title">Total Appoinments</p>
          <h3 class="rate-percentage">{{total_appointments}}</h3>
        </div>
        <div>
          <p class="statistics-title">Appoinments Approve this Month</p>
          <h3 class="rate-percentage">{{approved_this_month}}</h3>
        </div>
        <div>
          <p class="statistics-title">Appointments Completed this Month</p>
          <h3 class="rate-percentage">{{completed_this_month}}</h3>
        </div>
        <div class="d-none d-md-block">
          <p class="statistics-title">Avg. Appointments per Month</p>
          <h3 class="rate-percentage">{{avg_appointments_per_month}}</h3>
        </div>
        <div class="d-none d-md-block">
          <p class="statistics-title">Appointments Decline this Month</p>
          <h3 class="rate-percentage">{{declined_this_month}}</h3>
        </div>
        <div class="d-none d-md-block">
          <p class="statistics-title">Avg. Appoinment Decline per Month</p>
          <h3 class="rate-percentage">{{avg_declined_per_month}}</h3>
        </div>
      </div>
    </div>
</div> 
{% endblock %}