{% extends 'patient/base.html' %} 
{% load static %}
{% block content %} 
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Appointments</h4>
            <a class="btn btn-success btn-lg text-white mb-0 me-0" type="button" href="{% url 'patient_appointment_form' %}"><i class="mdi mdi-briefcase-check">
            </i>Create Appointment</a>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Procedure</th>
                    <th>Appointment Date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in appointments %}
                  <tr>
                    <td>
                        {% for j in i.procedures|get_string_as_list %}
                            <b>{{j|title}}</b> <br>
                        {% endfor %}
                    </td>
                    <td>{{i.date}}</td>
                    <td>
                      {% if i.status == 'Pending' %}
                      <label class="badge badge-info">Pending</label>
                      {% elif i.status == 'Confirm Appearance' %}
                      <label class="badge badge-info">Confirm Appearance</label>
                      {% elif i.status == 'Completed' or i.status == 'Results Ready'  %}
                      <label class="badge badge-success">Completed</label>
                      {% elif i.status == 'Cancelled' %}
                        <label class="badge badge-danger">Cancelled</label>
                      {% elif i.status == 'Declined' %}
                      <label class="badge badge-danger">Declined</label>
                      {% elif i.status == 'No Appearance' %}
                      <label class="badge badge-danger">No Appearance</label>
                    {% else %}
                      <label class="badge badge-warning">In progress</label>
                      {% endif %}
                    </td>
                      <td class="text-danger"> 
                        <a class="btn btn-success btn-lg text-white mb-0 me-0" type="button" href="{% url 'view_appointment' i.id %}"><i class="mdi mdi-briefcase-check">
                          </i>View
                        </a>
                        {% if i.status == 'Pending' or i.status == 'Approved' %}
                            <a class="btn btn-danger btn-lg text-white mb-0 me-0" type="button" onclick="showConfirmModal()"><i class="mdi mdi-close-box">
                            </i>Cancel
                            </a>
                        {% endif %}
                    </td>
                  </tr>

                  
                  <div id="confirmModal" style="display: none;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Action</h5>
                            <button type="button" class="close" onclick="hideConfirmModal()">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="confirmModal">Are you sure you want to confirm this?</label>
                            </div>
                            <a href="{% url 'cancel_appointment' i.id %}" class="btn btn-danger">Submit</a>
                            <button type="button" class="btn btn-secondary" onclick="hideConfirmModal()">Cancel</button>
                        </div>
                    </div>
                  </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>

<style>
  /* Modal styles */
  .modal-content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
      padding: 20px;
      z-index: 1050;
  }
  .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .modal-body {
      margin-top: 20px;
  }
  .close {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 1.5rem;
  }
  /* Modal background */
  #confirmModal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1040;
  }
</style>

<script>
      // Show the decline modal
  function showConfirmModal() {
      document.getElementById("confirmModal").style.display = "block";
  }

  // Hide the decline modal
  function hideConfirmModal() {
      document.getElementById("confirmModal").style.display = "none";
  }
</script>

{% endblock %}