{% extends 'patient/base.html' %} 

{% block content %} 

<div class="row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div>
              <h3 class="card-title card-title-dash">{{appointment.patient.first_name}}</h3>
          </div>
          <div>
            <a class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" href="{% url 'patient_appointments' %}"><i class="mdi mdi-arrow-left"></i>Go Back
            </a>
          </div>
        </div>
        <div style="text-align: center;">
            {% if appointment.patient.patientimage %}
                <img class="img-lg" src="{{appointment.patient.patientimage.url}}" alt="profile" style="margin-bottom: 1rem;">
            {% else %}
                <img class="img-lg" src="https://api.dicebear.com/8.x/lorelei/svg?seed={{appointment.patient.email}}" alt="profile" style="margin-bottom: 1rem;">
            {% endif %}
            <h4>Date: {{appointment.date}}</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Procedures</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in appointment.procedures|get_string_as_list %}
                    <tr>
                        <td>
                        <strong>{{i | title}}</strong>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h4>Status: {{appointment.status | title}}</h4>
            <hr>
            <h4>Appointment Logs</h4>
            {% for i in notifs %}
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p>{{i.message}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- {% if appointment.results %}
                <a href="{{appointment.results.report.url}}" class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" download target="_blank" ><i class="mdi mdi-download"></i>Download Report</a>
            {% endif %} -->
        </div>
    </div>
</div>


{% endblock %}