{% extends 'doctor/base.html' %} 

{% block content %} 
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="container">
            <div class="calendar dark">
                <div class="calendar_header">
                    <h1 class="header_title">Appointments</h1>
                    <p class="header_copy">Calendar Plan</p>
                </div>
                <div class="calendar_plan">
                    <div class="cl_plan">
                        <h1>
                            <span id="month">month</span>
                            <span id="daynum">00</span>,
                            <span id="year">0000</span>
                        </h1>
                    </div>
                </div>
                <div class="calendar_events">
                    <p class="ce_title">Upcoming Appointments</p>
                    {% for i in appointments %}
                    <div class="event_item">
                        <div class="ei_Dot dot_active"></div>
                        <div class="ei_Title">
                            <span>{{ i.date }} &emsp;
                                <a class="btn btn-success btn-lg text-white mb-0 me-0" type="button" href="{% url 'view_doctor_appointment' i.id %}">
                                    <i class="mdi mdi-briefcase-check"></i> View
                                </a>
                            </span>
                        </div>
                        <div class="ei_Copy">
                            <h5>Procedures:</h5>
                            <ul class="list-group">
                                {% for procedure in i.procedures %}
                                <li class="list-group-item">
                                    <strong>{{ procedure.0 }}</strong> - <span class="text-muted">{{ procedure.1 }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Date
    function updateDate() {
        let today = new Date();
        let dayNum = today.getDate(),
            month = today.getMonth(),
            year = today.getFullYear();

        const months = [
            "January", "February", "March", "April", "May", "June", 
            "July", "August", "September", "October", "November", "December"
        ];
        const IDCollection = ["daynum", "month", "year"];
        const val = [dayNum, months[month], year];

        for (let i = 0; i < IDCollection.length; i++) {
            document.getElementById(IDCollection[i]).firstChild.nodeValue = val[i];
        }
    }

    updateDate();
</script>

{% endblock %}
